{% include 'tl_header.html' %}
<body>
    <div id="wrapper">
    {% include 'tl_nav.html' %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">HTTP Verb Response Times
                        <span class="pull-right">
                            <a href="/verb-response"><i class="fa fa-refresh"></i></a>
                        </span>
                    </h1>
                    <script>
                        document.getElementById("dash-id").className = "";
                        document.getElementById("verb-response-id").className = "active";
                    </script>
                    <div id="viz">
                        {% include 'tl_verb_response_times_viz.html' %}
                    </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
{% include 'tl_footer.html' %}